.banner_part {
    background: url(../../images/banner1.png) no-repeat center;
    background-size: cover;


}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.6);
    padding: 150px 0;
    color: white;
}

.course_title {
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0;
    font-weight: 700px;
    font-family: Arial, Helvetica, sans-serif;
   
}
