/* header css  */

nav {
    background: #f1f1f1;
    padding: 20px 0;
  
}
a {
    margin: 0 15px;
    transition: .4s;
    color: #627080;
    text-decoration: none;
    font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
}

a:hover {
    color: #627080;
}


